.card-layout{
    width: 210px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}
.card-title-custom{
    color: #fff;
}
.card-title-value p,.card-id p{
    color:#606161
}
.card-id{
    position: absolute;
    top:-15px;
    right:-5px;
    background: #fff;
    padding: 0 5px;
    padding-bottom: 2px;
    border-radius: 4px 4px 4px 0px;
}